.IBMChat-form-container {
  padding:0 0 1em 0;
  text-align:center;
}

.IBMChat-form-fields {
  margin:auto;
  max-width:360px;
  text-align:left;
  width:100%;
}

.IBMChat-form-fields-row {
  padding-bottom:0.75em;
}

.IBMChat-form-fields-row input {
  width: 100%;
}

.IBMChat-form-buttons {
  height: 2.5em;
  margin:auto;
  max-width: 360px;
  text-align:center;
  width: 100%;
}

.IBMChat-form-buttons button {
  line-height: 2.5em;
  width: 100px;
}

.IBMChat-form-cancel {
  float:left;
  max-width: 50%;
}
.IBMChat-form-submit {
  float:right;
  max-width: 50%;
}
