.IBMChat-form-container {
  margin-top: 1em;
  padding: 1.5em;
  width: 240px;
}

.IBMChat-form-container fieldset {
  border:none;
  margin:0;
  padding:0;
}

.IBMChat-form-fields {
  width:100%;
}

.IBMChat-form-fields-row {
  padding-bottom:1.5em;
}

.IBMChat-form-fields-row input {
  width: 100%;
}

.IBMChat-form-buttons {
  text-align:center;
  width: 100%;
}

.IBMChat-form-buttons:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.IBMChat-form-cancel {
  float:left;
  max-width: 50%;
}
.IBMChat-form-submit {
  float:right;
  max-width: 50%;
}
