<div class="${ns}-container">
	<div class="${ns}-rows">
		<div class="${ns}-row">
			<label>Name on Card</label>
			<input type="text" class="IBMChat-input-colors" name="cc_full_name" />
			<div class="IBMChat-validation-error" data-validation-for="cc_full_name" data-valid="true"></div>
		</div>
		<div class="${ns}-row">
			<label>Credit Card Number</label>
			<input type="text" class="IBMChat-input-colors" name="cc_number" />
			<div class="IBMChat-validation-error" data-validation-for="cc_number" data-valid="true"></div>
		</div>
		<div class="${ns}-row">
			<label>Expiration Date</label>
			<div class="${ns}-col">
				<input class="${ns}-date IBMChat-input-colors" type="text" name="cc_exp_date_month" placeholder="MM" maxlength="2" />
				<input class="${ns}-date IBMChat-input-colors" type="text" name="cc_exp_date_year" placeholder="YYYY" maxlength="4" />
				<div class="IBMChat-validation-error" data-validation-for="cc_exp_date" data-valid="true"></div>
			</div>
		</div>
		<div class="${ns}-row">
			<label>CVV</label>
			<div class="${ns}-col">
				<input class="${ns}-cvv IBMChat-input-colors" type="text" name="cc_code" />
				<div class="IBMChat-validation-error" data-validation-for="cc_code" data-valid="true"></div>
			</div>
		</div>
		<div class="${ns}-row ${ns}-buttons">
			<button class="${ns}-cancel IBMChat-secondary-colors">Cancel</button>
			<button class="${ns}-continue IBMChat-input-colors">Continue</button>
		</div>
	</div>
</div>
