<div class="${ns}-container IBMChat-secondary-colors">
  <div class="${ns}-row">
    <fieldset aria-describedby="cc_full_name_${uuid}_error">
      <label class="IBMChat-screen-reader-text" for="cc_full_name_${uuid}">${cc_name}</label>
      <input type="text" class="IBMChat-input-colors" id="cc_full_name_${uuid}" name="cc_full_name" placeholder="${cc_name}"/>
      <div id="cc_full_name_${uuid}_error" class="IBMChat-validation-error IBMChat-error-colors" data-validation-for="cc_full_name" data-valid="true" style="display:none;"></div>
    </fieldset>
  </div>
  <div class="${ns}-row">
    <fieldset aria-describedby="cc_number_${uuid}_error">
      <label class="IBMChat-screen-reader-text" for="cc_number_${uuid}">${cc_num}</label>
      <input type="text" class="IBMChat-input-colors" id="cc_number_${uuid}" name="cc_number"  placeholder="${cc_num}"/>
      <div id="cc_number_${uuid}_error" class="IBMChat-validation-error IBMChat-error-colors" data-validation-for="cc_number" data-valid="true" style="display:none;"></div>
    </fieldset>
  </div>
  <div class="${ns}-row">
    <div class="${ns}-col">
      <fieldset aria-describedby="cc_exp_date_${uuid}_error">
        <label class="IBMChat-screen-reader-text" for="cc_exp_date_month_${uuid}">${cc_exp_mon}</label>
        <input class="${ns}-date IBMChat-input-colors" type="text" id="cc_exp_date_month_${uuid}" name="cc_exp_date_month" placeholder="${placeholder_mon}" size="3" />
        <label class="IBMChat-screen-reader-text" for="cc_exp_date_year_${uuid}">${cc_exp_year}</label>
        <input class="${ns}-date IBMChat-input-colors" type="text" id="cc_exp_date_year_${uuid}" name="cc_exp_date_year" placeholder="${placeholder_year}" size="5" />
      </fieldset>
    </div>
    <div class="${ns}-col">
      <fieldset aria-describedby="cc_code_${uuid}_error">
        <label class="IBMChat-screen-reader-text" for="cc_code_${uuid}">${cc_code_alt}</label>
        <input class="${ns}-cvv IBMChat-input-colors" type="text" id="cc_code_${uuid}" name="cc_code" placeholder="${cc_code}" size="6" title="${cc_code_alt}"/>
      </fieldset>
    </div>
    <div id="cc_exp_date_${uuid}_error" class="IBMChat-validation-error IBMChat-error-colors" data-validation-for="cc_exp_date" data-valid="true" style="display:none;"></div>
    <div id="cc_code_${uuid}_error" class="IBMChat-validation-error IBMChat-error-colors" data-validation-for="cc_code" data-valid="true" style="display:none;"></div>
  </div>
  <div class="IBMChat-form-buttons">
    <button class="IBMChat-form-submit">${submit}</button>
    <button class="IBMChat-form-cancel">${cancel}</button>
  </div>
</div>
