<section class="IBMChat-loading-container">
  <div class="IBMChat-loading IBMChat-hidden">
    <div class="IBMChat-loading-icon" aria-hidden="true">
      <div class="IBMChat-ball IBMChat-bouncing"></div>
      <div class="IBMChat-ball IBMChat-bouncing"></div>
      <div class="IBMChat-ball"></div>
    </div>
    <div class="IBMChat-loading-message">
      <span class="IBMChat-loading-message-text"></span>
      <span class="IBMChat-loading-message-retry">
        <span class="IBMChat-loading-retry-message IBMChat-hidden">${retryAttempt}</span>
      </span>
    </div>
  </div>
  <div class="IBMChat-loading-failure-message IBMChat-watson-message-container IBMChat-hidden">
    <div class="IBMChat-watson-message-line"></div>
    <div class="IBMChat-watson-message"></div>
  </div>
</section>
