.dropdown {
  background-position: calc(-11.2px + 100%) 11.2px;
  color: rgb(18, 18, 18);
  cursor: pointer;
  height: 2em;
  text-align: left;
  white-space: nowrap;
  width: 150px;
  border: 1px solid rgb(179, 179, 179);
  font: normal normal 300 normal 16px / 22.8571px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.5em 1em;
  transition: all 0.15s ease 0s;
}

.selected-option {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.options-container {
  color: rgb(18, 18, 18);
  width: 150px;
  border-width: 0px 1px 1px;
  border-style: none solid solid;
  border-color: rgb(18, 18, 18) rgb(179, 179, 179) rgb(179, 179, 179);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: rgb(18, 18, 18) none 0px;
  position: relative;
  margin-bottom: 50px;
  list-style: none;
  padding: 0 1em;
  margin-left: -17px;
  margin-top: 1.4em;
}

.select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

.option {
  height: 2em;
  padding: 0.5em 1em 0.5em 1em;
  margin: -0.25em -1em 0 -1em;
}

.option:hover {
  background:#666;
}

div.select:focus .option {
  position:relative;
  pointer-events:all;
}

.option .select:focus {
  position:relative;
  pointer-events:all;
}
