<div class="${ns}-locations-item ${ns}-data-section">
  <div class="${ns}-locations-item-data-title"></div>
  <div class="${ns}-data-float-holder">
    <div class="${ns}-locations-item-data">
      <div class="${ns}-locations-item-data-items">
        <div class="${ns}-locations-item-data-section">
          <a class="${ns}-locations-item-data-address-link">
            <div class="${ns}-locations-item-data-address"></div>
          </a>
        </div>
        <div class="IBMChat-small-hide">
          <div class="${ns}-locations-item-data-hours"></div>
          <div class="${ns}-locations-item-data-timezone"></div>
          <div class="${ns}-locations-item-data-more-hours"></div>
        </div>
      </div>
    </div>
    <div class="${ns}-locations-item-data">
      <div class="${ns}-locations-item-data-items">
        <div class="${ns}-locations-item-data-phone"></div>
        <div class="${ns}-locations-item-data-email"></div>
      </div>
    </div>
    <div class="${ns}-locations-item-distance"></div>
  </div>
  <div>
    <div class="${ns}-locations-item-data-items">
      <div class="IBMChat-small-show">
        <div class="${ns}-locations-item-data-hours"></div>
        <div class="${ns}-locations-item-data-timezone"></div>
        <div class="${ns}-locations-item-data-more-hours"></div>
      </div>
    </div>
    <div class="${ns}-locations-all-holder">
      <button class="${ns}-locations-all IBMChat-accent-colors-button">All Locations</button>
    </div>
  </div>
</div>
