<button aria-label="${address}" class="${ns}-locations-item ${ns}-multiple-locations ${ns}-data-section">
  <div class="${ns}-locations-row">
    <div class="${ns}-locations-item-icon-holder ${ns}-locations-cell">
      <div class="${ns}-locations-item-icon" style="color: ${accentText}; background: ${accentBackground};">${iconText}</div>
    </div>
    <div class="${ns}-locations-cell">
      <div class="${ns}-locations-item-data-title">${title}</div>
      <div class="${ns}-locations-item-data-items">
        <div class="${ns}-locations-item-data-address">${address}</div>
        <div class="${ns}-locations-item-distance">${distance}</div>
      </div>
    </div>
  </div>
</button>
