<div class="${ns}-locations-item ${ns}-data-section IBMChat-secondary-colors">
	<div class="${ns}-locations-item-data-section">
		<button class="${ns}-locations-all IBMChat-accent-colors">Back to All Locations</button>
	</div>
	<div class="${ns}-locations-item-data">
		<div class="${ns}-locations-item-data-title"></div>
		<div class="${ns}-locations-item-data-items">
			<div class="${ns}-locations-item-data-section">
				<a class="${ns}-locations-item-data-address-link">
					<div class="${ns}-locations-item-data-address"></div>
				</a>
			</div>
			<div class="${ns}-locations-item-data-email"></div>
			<div class="${ns}-locations-item-data-phone"></div>
			<div class="${ns}-locations-item-data-timezone"></div>
			<div class="${ns}-locations-item-data-hours"></div>
		</div>
		<button class="${ns}-locations-item-data-hours-button IBMChat-accent-colors">More Hours</button>
		<div class="${ns}-locations-item-data-items">
			<div class="${ns}-locations-item-data-more-hours ${ns}-hidden"></div>
		</div>
	</div>
	<div class="${ns}-locations-item-distance"></div>
</div>
