<div class="${ns}-locations-item ${ns}-multiple-locations ${ns}-data-section IBMChat-secondary-colors">
	<div class="${ns}-locations-row">
		<div class="${ns}-locations-item-icon ${ns}-locations-cell"></div>
		<div class="${ns}-locations-item-data ${ns}-locations-cell">
			<div class="${ns}-locations-item-data-title"></div>
			<div class="${ns}-locations-item-data-items">
				<div class="${ns}-locations-item-data-address"></div>
				<div class="${ns}-locations-item-distance"></div>
			</div>
		</div>
	</div>
</div>
