.IBMChat-map {
  margin-top: 1em;
}

.IBMChat-map-data {
  font-size:0.85em;
}

.IBMChat-map-img {
  overflow: hidden;
}

.IBMChat-map-img img {
  margin: 0 0 0.5em 0;
  height: 120px;
}

.IBMChat-map-multiple-locations {
  cursor: default;
  display: table;
  width: 100%;
}

.IBMChat-map-multiple-locations .IBMChat-map-locations-row {
  display:table-row;
  width: 100%;
}

.IBMChat-map-multiple-locations .IBMChat-map-locations-cell {
  display: table-cell;
  overflow: hidden;
  word-wrap: break-word;
}

.IBMChat-map-location-active .IBMChat-map-multiple-locations {
  opacity: 1;
}

.IBMChat-map-locations-item.IBMChat-map-multiple-locations {
  padding: 0.5em 0 0.5em 0;
  white-space: normal;
}

.IBMChat-disabled-layout .IBMChat-map-locations-item.IBMChat-map-multiple-locations {
  cursor: default;
}

.IBMChat-map-data-section {
  margin-top:0.5em;
}

.IBMChat-map-data-float-holder:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.IBMChat-map-locations-item {
  border-bottom:1px solid #505050;
  text-align:left;
  padding: 1em;
}


.IBMChat-map-locations-item-icon-holder {
  text-align:center;
  width: 40px;
}

.IBMChat-map-locations-item-icon {
  border-radius: 24px;
  height:24px;
  line-height: 24px;
  margin-right:8px;
  width:24px;
}

.IBMChat-map-locations-item-data {

}
.IBMChat-map-locations-item-data-title {
  font-size:1.3em;
  font-weight:300;
  line-height:1.2em;
}

.IBMChat-map-locations-item-data-section {
  padding-bottom:0.5em;
}

.IBMChat-map-locations-item-data-email {
  padding-bottom:0;
}

.IBMChat-map-locations-item-data-phone {
  display: table;
  max-width:400px;
  width: 100%;
}
.IBMChat-map-contact-row {
  padding-bottom:0.5em;
}

.IBMChat-map-contact-type {
  font-size:0.9em;
}

.IBMChat-map-locations-item-distance {
  font-size:0.9em;
  width:64px;
}

button.IBMChat-map-locations-all {
  font-size:0.9em;
  line-height:1.5em;
  margin: 1em 0 0 0;
  padding: 0 0.5em 0 0.5em;
}


.IBMChat-map-hours-open {
  font-weight: bold;
}

.IBMChat-map-days-hours-day, .IBMChat-map-days-hours-hours, .IBMChat-map-days-hours-closed {
  overflow: hidden;
  word-wrap: break-word;
}

.IBMChat-map-days-hours-day {
  font-weight: bold;
}

.IBMChat-map-hours-timezone {
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

.IBMChat-map-locations-item-data-hours {
  margin-top:0.5em;
}

.IBMChat-isLarge .IBMChat-map-locations-item-data {
  float:left;
  padding-right:5%;
  width:45%;
}
.IBMChat-isLarge .IBMChat-map-locations-item-data-hours {
  margin-top:0;
}
.IBMChat-isLarge .IBMChat-map-locations-item-data-more-hours {
  margin-top:0.5em;
}
