.IBMChat-creditcard-container {
  margin-top:1em;
  text-align:center;
}

.IBMChat-creditcard-rows {
  margin:auto;
  max-width:360px;
  text-align:left;
  width:100%;
}

.IBMChat-creditcard-row {
  padding-bottom:1em;
  text-align:left;
}

.IBMChat-creditcard-row input {
  width:100%;
}

.IBMChat-creditcard-col {
  display:inline-block;
}

.IBMChat-creditcard-col input{
  text-align:center;
  width:40px;
}

.IBMChat-creditcard-col:last-child input {
  width:60px;
}

.IBMChat-creditcard-buttons {
  height:2.5em;
}

.IBMChat-creditcard-buttons button {
  float:left;
  width:90px;
}

.IBMChat-creditcard-buttons button:last-child {
  float:right;
}
