.IBMChat-creditcard-container {
	padding: 1em;
	text-align:center;
}

.IBMChat-creditcard-rows {
	margin:auto;
	text-align:left;
	max-width:360px;
	width:100%;
}

.IBMChat-creditcard-row {
	text-align:left;
	padding-bottom:1em;
}

.IBMChat-creditcard-row input {
	width:100%;
}

div[data-validation-for] {
	padding-top:0.5em;
}

.IBMChat-creditcard-col {
	display:inline-block;
}

.IBMChat-creditcard-col input{
	text-align:center;
	width:40px;
}

.IBMChat-creditcard-col:last-child input {
	width:60px;
}

.IBMChat-creditcard-buttons {
	height:2.5em;
}

.IBMChat-creditcard-buttons button {
	width:90px;
	float:left;
}

.IBMChat-creditcard-buttons button:last-child {
	float:right;
}
