.IBMChat-choose-container {
  padding:0 0 1em 0;
  text-align:center;
}

.IBMChat-choose-container span {
  display:inline-block;
  margin: 1em 1em 0 1em;
}

.IBMChat-choose-container div {
  margin: 1em auto 0 auto;
}

.IBMChat-choose-container button {
  max-width:270px;
  min-width:230px;
}
