.IBMChat {
  height: 100%;
  width: 100%;
}

/* utils */

.IBMChat-hidden {
  display: none;
}

.IBMChat-relative {
  position: relative;
}

.IBMChat-outer-container {
  border: none;
  box-sizing: border-box;
  display: table;
  table-layout: fixed;
  font-weight: normal;
  line-height: 1em;
  height: 100%;
  margin: 0 auto 0 auto;
  max-width: 768px;
  min-height: 300px;
  min-width: 288px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
}


/* Agent Component */

.IBMChat-inner-container {
  display: table-cell;
  height: 100%;
  margin: 0;
  padding: 0 1em 0 1em;
  vertical-align: bottom;
}

/* Chat Component */

.IBMChat-chat-container {
  display: table-row;
  margin: 0;
  padding: 0;
}

/* Messages Component */

.IBMChat-messages {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 1em 0 1em;
}

.IBMChat-messages label {
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

.IBMChat-messages input {
  border: 0;
  border-radius: 0;
  font-size: 1em;
  margin: 0;
  padding: 0 0 0.25em 0;
}

.IBMChat-messages button {
  background: none;
  border: 0;
  border-radius: 1em;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: 1.5em;
  margin: 0;
  overflow: hidden;
  padding: 0.25em 1em 0.25em 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.IBMChat-messages button[disabled="true"] {
  cursor: default;
  opacity: .7;
}

.IBMChat-messages button[disabled="true"]:focus {
  outline: none;
}

.IBMChat-messages button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.IBMChat-watson-intent a {
  display: inline-block;
  margin: 1em 0 1em 0;
}

/* WatsonMessage Component */

.IBMChat-watson-message-container {
  margin: 1em 0 1em 0;
  position: relative;
}

.IBMChat-watson-message {
  line-height: 1.5em;
  min-height: 1.5em;
  padding: 0 0 0 1em;
  word-wrap: break-word;
}

.IBMChat-watson-message a {
  display: inline-block;
  word-break: break-all;
}

.IBMChat-watson-message-line {
  left: 0;
  height: 1.5em;
  position: absolute;
  top: 0;
}

.IBMChat-disabled-layout {
  opacity: 0.7;
}

/* UserMessage Component */

.IBMChat-user-message-container {
	margin: 1em 0 1em 2em;
	text-align: right;
}

.IBMChat-user-message {
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 0.75em 0.5em 0.75em;
  text-align: left;
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

/* Input Component */

.IBMChat-input-container {
  display: table-row;
  margin: 0;
  padding: 0;
}

.IBMChat-input-form {
  display: table-cell;
  position: relative;
  min-height: 30px;
}

.IBMChat-chat-textbox-container {
  min-height: 30px;
  padding: 1em 2em 2em 2em;
}

.IBMChat-chat-textbox-clone-holder {
  height: 0;
  overflow: hidden;
}

.IBMChat-chat-textbox-clone {
  border-bottom: 1px solid transparent;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0;
  min-height: 26px;
  padding: 0;
  position: relative;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  visibility: hidden;
}

.IBMChat-chat-textbox {
  background: transparent;
  border: none;
  border-radius: 0;
  border-image-width: 0;
  color: inherit;
  font-weight: normal;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  min-height: 26px;
  overflow: hidden;
  padding: 0 0 3px 0;
  resize: none;
  text-wrap: unrestricted;
  vertical-align: bottom;
  width: 100%;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

.IBMChat-chat-textbox[disabled='disabled'] {
  opacity: 0.5;
}

.IBMChat-input-form::-webkit-input-placeholder {
  opacity: 1;
}

.IBMChat-chat-textbox:focus {
	outline: none;
	padding: 0 0 2px 0;
}

/* Layout Component */
.IBMChat-watson-layout {
  padding: 4px;
}

/* validation error message */
.IBMChat-validation-error {
  padding: 0.5em;
  font-size: 0.9em;
}

/* class to hide an element from everyone but screen readers for visually impared */

.IBMChat-screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute !important;
}

/* Loading */

.IBMChat-loading-container {
  margin-bottom: 1em;
}

.IBMChat-loading {
  min-height: 30px;
  position: relative;
}

.IBMChat-loading-icon {
  height: 30px;
  position: absolute;
  top: 0;
  left: -4px;
  width: 10px;
}

.IBMChat-loading-icon svg {
  height: 30px;
  width: 10px;
}

.IBMChat-loading-message {
  display: inline-block;
  min-height: 30px;
  line-height: 1.2em;
  padding: 5px 1em 0 1em;
}

.IBMChat-bouncing {
  animation: bounceBack 420ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-timing-function: cubic-bezier(.42,0,1,1);
}

.IBMChat-bouncing:nth-child(2) {
  animation: bounce 420ms infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-timing-function: cubic-bezier(.42,0,1,1);
}

@keyframes bounce {
  0% {
    transform: translateY(5px);
  }
  72% {
    transform: translateY(-5px);
  }
  72%,100%{
    transform: translateY(-5px);
  }
}

@keyframes bounceBack {
  0% {
    transform: translateY(-5px);
  }
  72% {
    transform: translateY(5px);
  }
  72%,100%{
    transform: translateY(5px);
  }
}

/* responsive */

.IBMChat-small-show {
  display: unset;
}

.IBMChat-small-hide {
  display: none;
}

.IBMChat-isLarge .IBMChat-small-show {
  display: none;
}
.IBMChat-isLarge .IBMChat-small-hide {
  display: unset;
}

/* cc-validator */

.IBMChat-creditcard-container {
  margin-top: 1em;
  padding: 1em 1.5em 1em 1.5em;
  width: 240px;
}

.IBMChat-creditcard-container fieldset {
  border:none;
  margin:0;
  padding:0;
}

.IBMChat-creditcard-row {
  padding-bottom: 1em;
}

.IBMChat-creditcard-row input[name="cc_full_name"], .IBMChat-creditcard-row input[name="cc_number"] {
  width: 100%;
}

.IBMChat-creditcard-row input[name="cc_exp_date_month"] {
  max-width: 32px;
}

.IBMChat-creditcard-row input[name="cc_exp_date_year"], .IBMChat-creditcard-row input[name="cc_code"]  {
  max-width: 64px;
}

.IBMChat-creditcard-col {
  display: inline-block;
}

.IBMChat-creditcard-col:nth-child(2) {
  padding-left:1.5em;
}

.IBMChat-creditcard-buttons:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.IBMChat-creditcard-buttons button {
  width: 95px;
  float: left;
  text-overflow: clip;
}

.IBMChat-creditcard-buttons button:last-child {
  float: right;
  text-overflow: clip;
}

/* choose */

.IBMChat-choose-container > div {
	margin-top: 1em;
}

/* choose location type */

.IBMChat-islocationapi-container > div {
	margin-top: 1em;
}

/* error */

.IBMChat-error {
  padding: 0.5em 1em 0.5em 1em;
}

/* form */

.IBMChat-form-container {
  margin-top: 1em;
  padding: 1em 1.5em 1em 1.5em;
  width: 240px;
}

.IBMChat-form-container fieldset {
  border:none;
  margin:0;
  padding:0;
}

.IBMChat-form-fields {
  width:100%;
}

.IBMChat-form-fields-row {
  padding-bottom:1.5em;
}

.IBMChat-form-fields-row input {
  width: 100%;
}

.IBMChat-form-buttons {
  text-align:center;
  width: 100%;
}

.IBMChat-form-buttons:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.IBMChat-form-cancel {
  float:left;
  max-width: 50%;
}
.IBMChat-form-submit {
  float:right;
  max-width: 50%;
}

/* locations */

.IBMChat-map {
  margin-top: 1em;
}

.IBMChat-map-data {
  font-size:0.85em;
}

.IBMChat-map-img {
  overflow: hidden;
}

.IBMChat-map-img img {
  margin: 0 0 0.5em 0;
  height: 120px;
}

.IBMChat-map-multiple-locations {
  cursor: default;
  display: table;
  width: 100%;
}

.IBMChat-map-multiple-locations .IBMChat-map-locations-row {
  display:table-row;
  width: 100%;
}

.IBMChat-map-multiple-locations .IBMChat-map-locations-cell {
  display: table-cell;
  overflow: hidden;
  word-wrap: break-word;
}

.IBMChat-map-location-active .IBMChat-map-multiple-locations {
  opacity: 1;
}

.IBMChat-map-locations-item.IBMChat-map-multiple-locations {
  padding: 0.5em 0 0.5em 0;
  white-space: normal;
}

.IBMChat-disabled-layout .IBMChat-map-locations-item.IBMChat-map-multiple-locations {
  cursor: default;
}

.IBMChat-map-data-section {
  margin-top:0.5em;
}

.IBMChat-map-data-float-holder:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.IBMChat-map-locations-item {
  border-bottom:1px solid #505050;
  text-align:left;
  padding: 1em;
}


.IBMChat-map-locations-item-icon-holder {
  text-align:center;
  width: 40px;
}

.IBMChat-map-locations-item-icon {
  border-radius: 24px;
  height:24px;
  line-height: 24px;
  margin-right:8px;
  width:24px;
}

.IBMChat-map-locations-item-data {

}
.IBMChat-map-locations-item-data-title {
  font-size:1.3em;
  font-weight:300;
  line-height:1.2em;
}

.IBMChat-map-locations-item-data-section {
  padding-bottom:0.5em;
}

.IBMChat-map-locations-item-data-email {
  padding-bottom:0;
}

.IBMChat-map-locations-item-data-phone {
  display: table;
  max-width:400px;
  width: 100%;
}
.IBMChat-map-contact-row {
  padding-bottom:0.5em;
}

.IBMChat-map-contact-type {
  font-size:0.9em;
}

.IBMChat-map-locations-item-distance {
  font-size:0.9em;
  width:64px;
}

button.IBMChat-map-locations-all {
  font-size:0.9em;
  line-height:1.5em;
  margin: 1em 0 0 0;
  padding: 0 0.5em 0 0.5em;
}


.IBMChat-map-hours-open {
  font-weight: bold;
}

.IBMChat-map-days-hours-day, .IBMChat-map-days-hours-hours, .IBMChat-map-days-hours-closed {
  overflow: hidden;
  word-wrap: break-word;
}

.IBMChat-map-days-hours-day {
  font-weight: bold;
}

.IBMChat-map-hours-timezone {
  font-size: 0.8em;
  padding-bottom: 0.5em;
}

.IBMChat-map-locations-item-data-hours {
  margin-top:0.5em;
}

.IBMChat-isLarge .IBMChat-map-locations-item-data {
  float:left;
  padding-right:5%;
  width:45%;
}
.IBMChat-isLarge .IBMChat-map-locations-item-data-hours {
  margin-top:0;
}
.IBMChat-isLarge .IBMChat-map-locations-item-data-more-hours {
  margin-top:0.5em;
}
